<aside class="menu has-text-centered">
  <p class="menu-label has-text-weight-bold">
    個人用
  </p>
  <ul class="menu-list">
    <li class="column">メニュー1</li>
    <li class="column">メニュー2</li>
  </ul>
  <p class="menu-label has-text-weight-bold">
    グループ
  </p>
  <ul class="menu-list">
    <li class="column">所属一覧</li>
    <li class="column"><%= link_to '新規作成', new_group_path %></li>
    <li class="column">グループ検索</li>
    <li class="column"><%= link_to 'グループ一覧', groups_path %></li>
  </ul>
</aside>
