<aside class="box">
  カサレアルは、ＸＸＸＸＸＸＸＸを実現する会社です。私たちは△△△△△△△△を通じて社会に貢献していきます。
</aside>
<aside class="box menu">
  <p class="menu-label">
    おすすめの一言
  </p>
  <ul class="menu-list">
    <li><a href="#">株式会社カサ<small>@casainc</small></a></li>
    <li><a href="#">レア製作所<small>@rea-product</small></a></li>
    <li><a href="#">オフィス・アル<small>@office-al</small></a></li>
  </ul>
  <p class="menu-label">
    キーワード
  </p>
  <ul class="menu-list">
    <li><a href="#">システム開発</a></li>
    <li><a class="is-active" href="#">技術教育</a>
      <ul>
        <li><a href="#">一社研修</a></li>
        <li><a href="#">定期開催コース</a></li>
      </ul>
    </li>
    <li><a href="#">ソフトウェアテスティング</a></li>
  </ul>
</aside>