<aside class="menu has-text-centered">
  <p class="menu-label has-text-weight-bold">
    個人用
  </p>
  <ul class="menu-list">
    <li class="column is-size-4">メニュー1</li>
    <li class="column is-size-4">メニュー2</li>
  </ul>
  <p class="menu-label has-text-weight-bold">
    グループ
  </p>
  <ul class="menu-list">
    <li class="column is-size-4">所属グループ</li>
    <li class="column is-size-4">グループ作成</li>
    <li class="column is-size-4">グループ検索</li>
  </ul>
</aside>
