<h1>Groups#new</h1>
<p>Find me in app/views/groups/new.html.erb</p>

<%= form_with model: @group do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, autofocus: true %><br>

  <%= f.submit "作成", disable_with: '作成中...' %>
<% end %>
