// Place all the styles related to the share controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bulma";

#header {
  background-color: tan;
}


.footer {
  background-color: tan;
  width: 100%;
  padding: 0;
  position: absolute;
  bottom: 0;
}
