// Place all the styles related to the share controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  // background-color: tan;
  border-bottom: solid 3px #eeeeee;
}

.footer {
  // background-color: tan;
  width: 100%;
  padding: 0;
  position: absolute;
  bottom: 0;
  border-top: solid 3px #eeeeee;
}

aside {
  width: 180px;
  margin-left: 60px;
  padding-top: 12px;
  padding-right: 10px;
  border-right: solid 3px #eeeeee;
  li {
    height: 50px;
    border-bottom: solid 3px lightgray;
  }
}